---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navbar from "@/components/Navbar.astro";
import Hero from "@/components/Hero.astro";
import Pilares from "@/components/Pilares.astro";
import Discernimiento from "@/components/Discernimiento.astro";
import Summit from "@/components/Summit.astro";
import Proyectos from "@/components/Proyectos.astro";
import Origen from "@/components/Origen.astro";
import Equipo from "@/components/Equipo.astro";
import Talento from "@/components/Talento.astro";
import Contacto from "@/components/Contacto.astro";
import Footer from "@/components/Footer.astro";
---
<BaseLayout>
  <Navbar />
  <main>
    <Hero />
    <Pilares />
    <Discernimiento />
    <Summit />
    <Proyectos />
    <Origen />
    <Equipo />
    <Talento />
    <Contacto />
  </main>
  <Footer />
</BaseLayout>
